* {
    font-family: "Roboto Condensed", sans-serif;
}

h1, h2 {
  color: #548;
}

h2 {
  font-size: 36px;
  font-weight: 400;
}

p {
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, button, a {
  font-family: "Roboto Condensed", sans-serif;
}

.navbar-nav li {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.image-title {
  background: url(/images/stock/ci.jpg);
  background-size: 100%;
}

.image-title .color-bg {
  text-align: center;
  padding-bottom: 4%;
  height: 100%;
  width: 100%;
  margin-top: -1px;
  background-image: linear-gradient(to bottom, rgba(85,68,136,1.0) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.79) 100%)
}
  .color-bg h1 {
    font-family: "Roboto Condensed", sans-serif;
    position: relative;
    padding: 64px 0 3px 0;
    margin-top: 0;
    color: #fff;
    font-size: 55px;
  }

  .color-bg h3 {
    font-family: "Roboto Condensed-Light", sans-serif;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.62);
    line-height: 32px;
    padding-bottom: 30px;
    font-weight: 200;
  }

  .color-bg div:nth-child(2) {
    padding-top: 2%;
    padding-bottom: 10px;
  }

.image-title .row:nth-child(2) {
  display: inline;
}

.wrapper {
  min-height: 0;
  margin: 0 auto;
}

  .wrapper:after {
    height: 0;
}

.sub-wrapper {
  background: #f5f5f5;
  padding: 50px 0;
}

.sub-wrapper li {
  font-size: 17px;
  font-weight: 200;
}

.gitlab-image {
  margin-top: 2%;
  padding-top: 2%;
  width: 270px;
  height: 270px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(/images/ci/main.png) no-repeat;
  background-position-x: -118px;
  background-position-y: -76px;
}

.gitlab-raccoon-dog-image {
  width: 59%;
  margin-top: 32px;
  margin-left: 23%;
}

.gitlab-ci {
  margin-top: 16%;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(/images/ci/gitlab-ci.png) no-repeat;
  background-position-x: -415px;
  background-position-y: -205px;
}

.advantages div:first-child {
  margin-top: 3%;
}

.advantages div:nth-child(2){
  margin-top: 30px;
}

.requirements i.fa-linux {
  font-size: 12em;
  margin-top: 50%;
  border: 2px solid #548;
  padding: 27px;
  border-radius: 17px;
  color: #548;
}

.integration div:nth-child(2) {
  margin-top: 75px;
}

.links {
  padding-bottom: 30px;
}

  .links i.fa-code {
    font-size: 4em;
    border: 2px solid #548;
    padding: 27px;
    border-radius: 17px;
    color: #548;
    margin-top: 33px;
  }

  .links div:nth-child(3) {
    padding-left: 66px;
  }

.divider {
  margin: auto;
  margin-top: 80px;
  width: 970px;
  border-color: #D3D3D3;
  border-width: 1px;
  max-width: 100%;
  margin-bottom: 60px;
}

.installation .fa {
  font-size: 13em;
}

.gitlab-arch {
  margin-top: 9%;
}

/* buttons */

#download {
  animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

#signin {
  animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.download-btn-style {
  background: #5D4D93;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  border: 2px solid white;
}

  .download-btn-style:hover {
    text-decoration: none;
  }
