body {
  background-color: rgba(85, 68, 136, 0.23);
  font-family: "Roboto Condensed", sans-serif;
}

.alert {
  font-size: 17px;
}

.wrapper {
  min-height: 55%;
}

.title {
  text-align: center;

}

.jobs-container {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background: #548;
  background-size: cover;
}

.jobs-overlay {
  background: rgba(85, 68, 136, 0.62);
  height: 500px;
}

.jobs-content {
  padding-top: 14px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.jobs-content h1 {
  font-size: 35px;
}

.whr-items h2 {
  font-weight: 600 !important;
  margin-top: 0;
  font-size: 36px !important;
}

.whr-items {
  list-style-type: none;
}

.whr-title a{
  font-weight: 700 !important;
  font-size: 36px !important;
}


.whr-items h1 small {
  text-transform: none;
  font-weight: 300;
}

.whr-item {
  color: #555;
  font-size: 1.7rem;
  margin-top: 20px;
  margin-bottom: 50px;
  background: white;
  padding: 25px;
  box-shadow: 0px 3px 3px #F0F0F0;
  margin-left: -38px;
  padding-top: 10px !important;
}

.whr-item:nth-last-child(2) {
  margin-bottom: 50px;
}

.vacancies {
  max-width: 700px;
}

.vacancies .listed-vacancies {
  list-style: none;
  padding-left: 0px;
}

.vacancies .listed-vacancies a {
  font-size: 18px;
}

#content {
  margin-bottom: 40px;
}
